* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2rem 10vw;

}

nav {
    --princial-color: #61787F;
}

.navigation-bar {
    display: flex;
    align-items: center;
    background-color: var(--princial-color);
}

.logo-principal {
    width: 127px;
    height: 94px;
    margin: 16px 44px 12px 27px;
}

.principal-title {
    color: white;
    font-size: 40px;
    font-weight: lighter;
}

.best-movie {
    font-size: 48px;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.section-best-movie {
    display: flex;
    border: 4px solid black
}

.section-movie h2 {
    font-weight: lighter;
}

.best-movie-container {
    margin: 18px 0 17px 28px;
}

.section-best-movie img {
    width: 227px;
    height: 334px;
}

.info-best-movie {
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.film-title {
    font-size: 3rem;
    font-weight: bold;
}

.info-best-movie p {
    font-size: 28px;
    display: inline-block;
    width: 70%;
}

.btn-res {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.button-best-movie {
    color: white;
    background-color: red;
    border-radius: 25px;
    padding: 15px 30px;
    width: 120px;
}


.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
}

.overlay {
    position: absolute;
    right: auto;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/* CSS Modal START*/
.modal {
    width: 95%;
    max-width: 500px;
    padding: 30px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #f00;
    cursor: pointer;
}

.modal-desc {
    display: flex;
    padding-bottom: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title-info {
    display: flex;
    flex-direction: column;

}

.btn-fermer {
    display: flex;
    justify-content: center;
}

/* CSS Modal END*/

.article-with-image {
    position: relative;
    width: 100%;
    max-width: 600px;
    column-gap: 2px;

}

.article-with-image img {
    object-fit: cover;
    width: 252px;
    height: 247px;
}

.best-movies-list,
.mystery-movies,
.famille-movies,
.comedie-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1ch;
    column-gap: 14vw;
}

.btn-hidden {
    display: none
}

.overlay-list {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Bande sombre avec transparence */
    color: white;
    padding: 20px;
    text-align: center;
    height: 102px;
    width: 252px;
}

.overlay-list h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.overlay-list {
    display: flex;
    flex-direction: column;
}

.overlay-list button {
    align-self: flex-end;
}

.btn-overlay {
    background-color: gray;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn-overlay:hover {
    background-color: #e64a19;
    /* Couleur au survol */
}

.article-with-image {
    width: 227px;
    height: 334px;
}

.genre-choice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
}

.genre-select {
    height: 2rem;
    width: 20%;

}

/* START RESPONSIVE MOBILE*/
@media (max-width: 767px) {
    .navigation-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .navigation-bar h1 {
        display: none
    }

    .section-best-movie {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .section-movie {
        text-align: center;
    }

    .btn-res {
        display: flex;
        justify-content: center;
    }

    .article-with-image {
        display: grid;
        grid-column: 1;
    }

    .best-movies-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10%
    }

    .mobile {
        display: none;
    }

    .btn-display-movies {
        display: flex;
        justify-content: center;
    }

    .btn-hidden {
        display: block;
        background-color: red;
        border-radius: 20px;
        padding: 0.5rem 2rem;
        color: white
    }

    .modal-desc {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .modal {
        width: 50%;
        max-width: 500px;
        padding: 30px;
        min-width: 300px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-60%, -50%);
    }
}

/* RESPONSIVE TABLETTE */
@media (min-width: 768px) and (max-width: 1024px) {
    .navigation-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .section-best-movie {
        display: flex;
        align-items: center;
        /* Aligne le texte au centre de l'image verticalement */
        gap: 20px;
        /* Espace entre l'image et le texte */
    }

    .best-movie-container img {
        max-width: 100%;
        height: auto;
        /* Ajuste automatiquement la hauteur pour garder le ratio */
        width: 200px;
        /* Définissez la largeur souhaitée pour l'image */
    }

    .info-best-movie {
        max-width: 600px;
        /* Limite la largeur de la section d'info pour un meilleur rendu */
    }

    .btn-res {
        display: flex;
        justify-content: flex-end;
    }

    .best-movies-list,
    .mystery-movies,
    .famille-movies,
    .comedie-movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1vw;
    }

    .tablet {
        display: none;
    }

    .btn-display-movies {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-hidden {
        display: block;
        background-color: red;
        border-radius: 20px;
        padding: 0.5rem 2rem;
        color: white
    }

    .modal-desc {
        display: flex;
        flex-wrap: wrap;
    }

    .modal {
        width: 50%;
        max-width: 500px;
        padding: 30px;
        min-width: 300px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-60%, -50%);
    }
}